*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#d2b08f;
    min-height:100vh;
}

/* Cabeçalho */

header{
    padding:25px 0;
}

nav{
    text-align:center;
}

nav a{
    text-decoration:none;
    color:white;
    margin:0 20px;
    font-size:18px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#5c3a21;
}

/* Conteúdo principal */

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:80vh;
    padding:40px;
}

.texto{
    width:45%;
}

.texto h1{
    font-size:64px;
    color:white;
    margin-bottom:15px;
    text-shadow:2px 2px 5px rgba(0,0,0,0.15);
}

.texto p{
    font-size:20px;
    color:white;
    line-height:1.6;
}

.subtitulo{
    margin:20px 0 30px;
}

/* Cardápio */

.menu{
    margin-top:30px;
}

.item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 0;
    font-size:18px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,0.3);
    transition:0.3s;
}

.item:hover{
    background:rgba(255,255,255,0.1);
    padding-left:10px;
}

/* Imagem */

.imagem img{
    width:450px;
    max-width:100%;
    filter:drop-shadow(0 10px 20px rgba(0,0,0,0.2));
}

.subtitulo{
    margin:20px 0 30px;
    color:white;
    font-size:18px;
    line-height:1.6;
}