
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fcfbfa;
    color: #333;
}


.cabecalho {
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.cabecalho-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #4a3429;
    font-weight: 700;
}

.menu a {
    text-decoration: none;
    color: #666;
    margin-left: 25px;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.3s;
    padding-bottom: 5px;
}

.menu a:hover, .menu a.ativo {
    color: #4a3429;
    border-bottom: 2px solid #4a3429; /* Linha marrom embaixo do link ativo */
}